@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /*margin: 0% 20% 5% 20%; declaracion de margen en una linea (top left bottom rigth*/
    margin: 0;

}

header{
    background-color: cadetblue;
    text-align: center;
    padding: 25px;
    color: antiquewhite;
}

main{
    margin: 5% 20%;
}

nav{
    text-align: center;
    margin: 15px;
}

nav a{
    padding: 10px;
    text-decoration: none;
}

section{
    padding: 30px;
    border-bottom: 1px steelblue solid;
}